---

title: "Trip Report: Los Angeles"
date: 2018-03-13 19:09 UTC
tags: van, california
location: spent.values.pits
ogp:
  og:
    description: A summary of my time in Los Angeles.
    image:
      '': https://www.dana.lol/2018/03/13/trip-report-los-angeles/hollywood-sign-behind.JPG
      secure_url: https://www.dana.lol/2018/03/13/trip-report-los-angeles/hollywood-sign-behind.JPG
      alt: The view from behind the Hollywood Sign
      width: 1200
      height: 630 

---

<%= mn("
Weeks in: **4**<br>
Distance traveled: **~800**<br>
Current location: **[spent.values.pits](http://w3w.co/spent.values.pits)***<a href='https://what3words.com/about' class='no-underline'>[?]</a>*")
%>

After leaving [Santa Barbara last week](/2018/03/05/trip-report-central-coast/), I drove straight down to Los Angeles.
I'll admit I was a little nervous... just weeks before I arrived, [LA passed a law banning living in your car](http://www.latimes.com/local/lanow/la-me-ln-homeless-rv-dwelling-20170113-story.html).
Had this famously van-friendly city turned a corner?
It turns out that if you pay attention to parking rules and avoid drawing too much attention to yourself, LA is still very friendly to van-dwellers.

The first time I visited LA as an adult was during a work outing.
<%= mn(linked_image("#{current_article.url}hollywood-sign-with-me.JPG", 'Dana in front of the Hollywood Sign') + "I guess I'm a full-time tourist now, might as well embrace it") %>
We rented a bungalow near **Venice Beach** and immediately I was in love.
The wide inviting beach, the laid back culture, the always-sunny weather, the sunsets, the iconic pier and board-walk, it's magnetic for a friendly bum like myself.
I had to scour the area for places I could park (many streets have a 7-foot height limit), but eventually I discovered a quiet neighborhood in which I stayed almost every night.
I chatted with several residents, and they were extremely kind to me.
<%= mn(linked_image("#{current_article.url}venice-beach-sky.JPG", 'The sky above Venice Beach') + "Average day in Venice, CA") %>
It is out of respect for them that I wont list exactly where I was, but aspiring visitors should find little trouble finding a place to park overnight.

<%= f "#{current_article.url}venice-beach-pier.JPG", 'A view from under the Venice Beach pier' %>
<%= ff "#{current_article.url}venice-boardwalk-pano.JPG", 'A view of the Venice Beach boardwalk' %>

Waking up to the sea air, walking the beach all the way to Santa Monica, exploring the mansion-lined canals, and watching the sun dip into the sea were some of the ways I spent my days as a Venice "resident."
I miss it already!

<%= ff "#{current_article.url}venice-sunset-pano.JPG", 'The sunset behind Venice Beach' %>

One of the first excursions I took outside of Venice was to the **[Getty Center](https://en.wikipedia.org/wiki/Getty_Center)**.
Situated high on the Santa Monica foothills, the Getty complex features art, outdoor gardens, beautiful architecture, and sweeping panoramic views of the city of Los Angeles.
It's also free, which is great, but parking is $10-$15.
<%= mn(linked_image("#{current_article.url}getty-statue.JPG", 'A sexy statue on the roof of the Getty Center') + "Current mood") %>

<%= f "#{current_article.url}getty-sunset.JPG", 'Sunset at the Getty Center' %>
<%= ff "#{current_article.url}getty-pano.JPG", 'The view from the Getty Center' %>

I asked some friends what museums I should visit, and when someone suggested the **Museum of Death**, from the name alone I knew I had to check it out.
I do have a macabre-leaning side of me, but I'll admit I wasn't quite prepared for what was in store.
I enjoyed the awesome collection of death-related miscellania... letters and paintings from serial killers, antique coroners' equipment, skulls and weapons.
<%= mn(linked_image("#{current_article.url}museum-of-death.JPG", "The entrance to the Museum of Death") + "Unfortunately, no photography is allowed at the Museum of Death") %>
What I wasn't prepared for was the gruesome pictures from crime scenes, autopsies, car crashes, etc.
They're scattered throughout the galleries in such a way that they are tricky to avoid.
Reader beware, this museum is not for the squeamish or the faint of heart!
I didn't leave the museum feeling scarred for life, but it was a lot to process before lunch.

<%= f "#{current_article.url}hollywood-sign.JPG", 'The famous Hollywood Sign' %>

I think my favorite excursion was hiking to the top of the Hollywood sign.
Sure, they don't let you get close to the sign anymore (trust me, I tried and got yelled at), but you can get _behind_ sign, and that's almost as good.
I started at **Lake Hollywood Park** and hiked the five-mile trail to the summit.
It was a pretty clear day and the views were beautiful all the way up.
I definitely recommend this to anyone with time to kill in LA.

<%= ff "#{current_article.url}hollywood-sign-pano.JPG", 'A view from the hike to the Hollywood Sign' %>

I did a ton of other things, but I didn't take pictures of all of them.
I had my first experience in a sensory deprivation tank, which was equal parts boring and cool.
I went to the **Santa Monica Pier** and rode the ferris wheel with my friend Reed.
I [toured The Price is Right studios](/2018/03/07/photos-behind-the-scenes-at-the-price-is-right/).
I spent a lot of time in East LA, which is apparently very trendy.
I rode in a swan boat in **Echo Lake Park**, I spent a couple nights right on the **Silver Lake Reservoir**, I ate at countless hipster cafés and restaurants.

<%= f "#{current_article.url}silver-lake-van.JPG", 'My van near Silver Lake Reservoir' %>

Oh!
One last thing that I did get a picture of.
On the campus of University of Southern California, sleeping quietly in a massive hanger, you can find one of the most complex machines ever designed.
That machine is the **[Space Shuttle Endeavor](https://en.wikipedia.org/wiki/Space_Shuttle_Endeavour)**, which was built to replace the tragicly-shortlived Challenger shuttle.
Entering that hanger was a jaw-dropping moment for me, it's just massive!
And it's been to space and back!
And it's right there for you to visit!

<%= ff "#{current_article.url}endeavor-pano.JPG", 'The Space Shuttle Endeavor!' %>

Thank you for reading!
I really appreciate you taking the time out of your day to visit my site.
If you'd like to interact with me or just stay current with my updates, I'd love it if you'd "like" [my Facebook page](https://www.facebook.com/www.dana.lol/).

