---

title: "Trip Report: Joshua Tree"
date: 2018-03-25 00:00 UTC
tags: california, van 
published: false
location: scarring.repaint.regal
ogp:
  og:
    description: Behold the wonder that is Joshua Tree National Park!
    image:
      '': https://www.dana.lol/2018/03/25/trip-report-joshua-tree/road.jpg
      secure_url: https://www.dana.lol/2018/03/25/trip-report-joshua-tree/road.jpg
      alt: A road in Joshua Tree National Park
      width: 1200
      height: 630

---

<%= mn("
Weeks in: **6**<br>
Distance traveled: **~1500 miles**<br>
Current location: **[scarring.repaint.regal](http://w3w.co/scarring.repaint.regal)***<a href='https://what3words.com/about' class='no-underline'>[?]</a>*")
%>

<%= f "#{current_article.url}road.jpg", 'a road in Joshua Tree National Park' %>

After leaving my comfortable poolside retreat in [San Diego](/2018/03/20/trip-report-san-diego/), I headed straight for the desert.
My destination was [Joshua Tree National Park](https://en.wikipedia.org/wiki/Joshua_Tree_National_Park), one of the youngest National Parks.
<%= mn(linked_image("#{current_article.url}quail-3.png", 'a quail in Joshua Tree National Parl')) %>

I arrived there in the early afternoon, and it was obvious from the line of cars to get in that it'd be unlikely I'd be able to find an available campsite.
I asked the ranger if it was worth driving into the park to try, and he told me dozens of people had tried and he watched them return unsuccessfully.
This was the busiest park I'd been to yet, and I'd have to rethink my strategy.

One of my favorite resources on this adventure has been [Boondockers Welcome](http://boondockerswelcome.com/), a place where RV-friendly hosts can offer their driveways to wandering vagrants like myself.
I was able to find a host deep in the desert 25 miles north of Joshua Tree who very generously let me stay in their backyard on short notice.
I arrived at dusk and left before first light.

<%= f "#{current_article.url}sunrise-2.jpg", 'sunrise over Hidden Valley in Joshua Tree National Park' %>

As the sun rose over the desert mountains I arrived at *Hidden Valley Campground*, which according to my research was the best campground in the park.
<%= mn(linked_image("#{current_article.url}campsite-from-side.jpg", 'my van at campsite 40')) %>
This campground is first-come, first-served, so I waited at the entrance and waited for people to leave.
A friendly camper told me that I should find campsites with only one car and ask if they would be willing to share with me, so I drove into the campground and started to ask around.
Eventually I found a friendly couple from Oakland who were planning on staying for as long as I was.
We split the cost of the campsite and I had a home base for the next 3 nights.

<%= f "#{current_article.url}campsite-40-2.jpg", 'my van at campsite 40 at Hidden Valley Campground in Joshua Tree National Park' %>
<%= f "#{current_article.url}hidden-valley-rocks.JPG", 'some rocks at Joshua Tree National Park' %>

Joshua Tree is a surreal place.
Pictures don't really do it justice.
It's feels like you're on another planet.

There's the eponymous trees, which reach out to the sky with their many arms.
They dot the barren desert and make it feel like a forest.

<%= f "#{current_article.url}mill-trail.jpg", 'a pretty trail surrounded by joshua trees' %>

Bulbous boulders litter the landscape.
<%= mn(linked_image("#{current_article.url}round-rocks.jpg", 'more rocks at Joshua Tree National Park')) %>
They look like something out of a Dr. Seuss book, and climbers from all around the world visit to climb them.
This is also the reason the campground was so packed... there's tons of places to climb and boulder within walking distance.

<%= f "#{current_article.url}intersection-rock-climbers.jpg", 'climbers at the top of Intersection Rock in Joshua Tree National Park' %>
<%= ff "#{current_article.url}desert-pano-2.JPG", 'a view of a desert in Joshua Tree National Park' %>

My new campsite friends and I scrambled to the top of one... it was a little intimidating, but the view from the top and the satisfaction was worth it (though my hands are sweating typing this).

<%= f "#{current_article.url}view-from-top-3.JPG", 'view from the top of Cyclops Rock' %>

Every day I was there I went on a different fabulous hike.
<%= mn(linked_image("#{current_article.url}cactus.jpg", 'a cactus in Joshua Tree National Park')) %>
The first was *Ryan Mountain*, which is a pretty strenuous 3-mile hike to the top of a mountain.
The view from the top is expansive, but the satisfaction came from finishing the hike and not the vistas.

<%= f "#{current_article.url}desert-2.jpg", 'a view of the desert in Joshua Tree National Park' %>
<%= ff "#{current_article.url}mt-ryan-pano.JPG", 'a view from Ryan Mountain' %>

*Lost Horse Mine* was a really neat 4-mile trail that leads to an abandoned mine.
The machinery is still there for you to look at and imagine what it was like when it was running.

<%= f "#{current_article.url}lost-horse-trail-2.jpg", 'a trail in Joshua Tree National Park' %>
<%= ff "#{current_article.url}mine-pano.JPG", 'a view of an abandoned mine' %>
<%= f "#{current_article.url}lost-horse-trail.jpg", 'another trail in Joshua Tree National Park' %>

On one of the hottest days I hiked to *Skull Rock*, an apropriately-named rock formation.
It was very close to the Jumbo Rocks Campground, which seemed like a nice place to stay and I will consider it next time I'm in the area.

<%= f "#{current_article.url}skull-rock.jpg", 'Skull Rock' %>

The *Hidden Valley* is right near the eponymous campground at which I was staying.
Hidden inside a ring of rocks, you wouldn't be able to tell there's a lush area in the center, and apparently cattle rustlers used this fact to their advantage.
To beat the crowds I went at sunrise and had the whole valley to myself.

<%= f "#{current_article.url}hidden-valley.jpg", 'rocks surrounding Hidden Valley' %>
<%= f "#{current_article.url}sunrise-rocks.JPG", 'rocks at sunrise' %>

Finally, I hiked out to *Barker Dam*, which was used by early cattle ranchers in the area.
<%= mn(linked_image("#{current_article.url}engine-closest.jpg", 'a view of a rusted out engine in the desert')) %>
The trail has many other interesting things nearby, like an abandoned mill, rusted-out cars, and some ancient petroglyphs.

<%= f "#{current_article.url}abandoned-car-2.jpg", 'an abandoned car in the desert' %>
<%= ff "#{current_article.url}building-pano.JPG", 'a view of an abandoned building' %>


All-in-all Joshua Tree is one of the coolest places I have ever been.
If you're a climber or a hiker, you have to check this place out.
Pictures don't really do it any justice, but I've done my best to include a selection to give you an idea about what it's like.

<%= f "#{current_article.url}collapsing-tree.jpg", 'a gigantic collapsing Joshua tree' %>
<%= f "#{current_article.url}pretty-view-2.jpg", 'a view from a vista in Joshua Tree National Park' %>
<%= f "#{current_article.url}cyclops-rock.jpg", 'a cool looking rock in Joshua Tree National Park' %>
<%= f "#{current_article.url}intersection-rock.JPG", 'climbers at the top of Intersection Rock' %>
<%= ff "#{current_article.url}van-on-road-pano.JPG", 'my van on the main road in Joshua Tree National Park' %>
<%= f "#{current_article.url}joshua-tree-forest.jpg", 'a veritable forest of Joshua trees' %>
<%= f "#{current_article.url}van-in-lot.jpg", 'my van in a parking lot in Joshua Tree National Park' %>
<%= f "#{current_article.url}pretty-view.jpg", 'a pretty vista in Joshua Tree National Park' %>
<%= f "#{current_article.url}ryan-mountain-trail.JPG", 'a trail in Joshua Tree National Park' %>
<%= ff "#{current_article.url}salton-sea-pano.JPG", 'a view of the Salton Sea from Joshua Tree National Park' %>
<%= f "#{current_article.url}van-on-road.JPG", 'my van on a road in Joshua Tree National Park' %>

Thank you for reading!
I really appreciate you taking the time out of your day to visit my site.
If you'd like to interact with me or just stay current with my updates, I'd love it if you'd "like" [my Facebook page](https://www.facebook.com/www.dana.lol/).

