---

title: "Trip Report: San Diego"
date: 2018-03-20
tags: van, california
location: unfilled.gust.benched
ogp:
  og:
    image:
      '': https://www.dana.lol/2018/03/20/trip-report-san-diego/tiger.jpg
      secure_url: https://www.dana.lol/2018/03/20/trip-report-san-diego/tiger.jpg
      alt: A tiger at the San Diego Zoo
      width: 1200
      height: 630

---

<%= mn("
Weeks in: **5**<br>
Distance traveled: **~1200 miles**<br>
Current location: **[unfilled.gust.benched](http://w3w.co/unfilled.gust.benched)***<a href='https://what3words.com/about' class='no-underline'>[?]</a>*")
%>

I honestly didn't intend on staying long in San Diego.
My original plan had Los Angeles being the furthest point South that I would go, but there was a concert I wanted to see and when some close family friends offered to host me, I knew what I had to do.
I set course for San Diego, and ended up staying in one place for the longest period yet... 10 days!

It wasn't the weather that made me stay.
In fact, it was raining when I arrived, and it stayed uncharacteristically rainy for the first half of my visit.
Instead, it was the lovely home that I got to stay in, and the wonderful family I got to be a part of for almost two weeks.
I got to hang out with my friend, his wife, their two beautiful daughters (ages 4 and 7), and their incredible golden retrievers.
<%= mn(linked_image("#{current_article.url}coach-at-door.JPG", '')) %>

<%= f "#{current_article.url}coach-in-blanket.JPG", '' %>

The girls loved using my van as a clubhouse, and I set up my hammocks in their lawn for them to play on.
During the day everyone went off to school and work. 
I spent this time sitting by a placid pool, soaking up sun and reliable Internet, with the dogs to keep me company.
<%= mn(linked_image("#{current_article.url}captain-at-pool.jpg", '')) %>

And honestly, that's how I spent most of my days... recharging my batteries, staying still, taking daily showers, and spending time with my surrogate family.
I mean, how could you resist these wonderful puppies?

<%= f "#{current_article.url}captain-in-lawn.jpg", '' %>

Of course, I did do other stuff too!
I went for walks around a nearby golf course and many beaches, I went sea kayaking with a friend in La Jolla...

<%= f "#{current_article.url}la-jolla-kayaking.JPG", '' %>

...and of course, I ate astoundingly delicious Mexican food.

<%= f "#{current_article.url}get-these-chips.JPG", '' %>


But the thing I documented the best was the San Diego Zoo, and the sister Safari Park.
These are world-class zoos that by themselves are worth a trip down to San Diego.
I spent two days there (one at the Zoo and one at the Safari Park), and took countless pictures, the best of which I've included below.

<%# <%= f "#{current_article.url}bird.jpg", '' %1> %>
<%= ff "#{current_article.url}butterfly-2.jpg", '' %>
<%# <%= f "#{current_article.url}butterfly-brown-close.jpg", '' %1> %>
<%# <%= f "#{current_article.url}butterfly.jpg", '' %1> %>
<%# <%= f "#{current_article.url}cheetah.jpg", '' %1> %>
<%= ff "#{current_article.url}funny-crocodiles.jpg", '' %>
<%= f "#{current_article.url}elephant.jpg", '' %>
<%= ff "#{current_article.url}flamingos.jpg", '' %>
<%= f "#{current_article.url}polar-bear-in-shade.jpg", '' %>
<%= f "#{current_article.url}funny-monkey.jpg", '' %>
<%= ff "#{current_article.url}butterfly-blue.jpg", '' %>
<%= ff "#{current_article.url}hippos-surfacing-2.jpg", '' %>
<%# <%= ff "#{current_article.url}hippos-surfacing.jpg", '' %1> %>
<%# <%= ff "#{current_article.url}hippos-underwater.jpg", '' %1> %>
<%# <%= ff "#{current_article.url}hot-air-balloon.jpg", '' %1> %>
<%= f "#{current_article.url}lions-sleeping.jpg", '' %>
<%= ff "#{current_article.url}crocodile.jpg", '' %>
<%= ff "#{current_article.url}polar-bear-closeup.jpg", '' %>
<%= f "#{current_article.url}monkeys.jpg", '' %>
<%= ff "#{current_article.url}pig.jpg", '' %>
<%= f "#{current_article.url}oragutangs.jpg", '' %>
<%= f "#{current_article.url}polar-bear-butt.jpg", '' %>
<%= ff "#{current_article.url}butterfly-brown.jpg", '' %>
<%= f "#{current_article.url}tiger-tail.jpg", '' %>
<%= ff "#{current_article.url}polar-bears-sleeping.jpg", '' %>
<%= ff "#{current_article.url}hippo.jpg", '' %>
<%= f "#{current_article.url}lion-in-cage.jpg", '' %>
<%= ff "#{current_article.url}rhino.jpg", '' %>
<%= f "#{current_article.url}butterfly-green.jpg", '' %>
<%= ff "#{current_article.url}scared-monkey.jpg", '' %>
<%= ff "#{current_article.url}sleepy-gorilla.jpg", '' %>
<%= f "#{current_article.url}sleepy-lemurs.jpg", '' %>
<%= ff "#{current_article.url}tiger.jpg", '' %>
<%= ff "#{current_article.url}safari-park-pano.JPG", '' %>

As always, thank you for visiting and looking at my pictures.
Come visit [my Facebook page](https://www.facebook.com/www.dana.lol/) and let me know which pictures were your favorites!

<%= f "#{current_article.url}salk-distant-me.JPG", '' %>

