---

title: "Trip Report: San Diego"
date: 2018-03-20
tags: van, california
location: unfilled.gust.benched
ogp:
  og:
    description: Pictures and a summary of my time in San Diego.
    image:
      '': https://www.dana.lol/2018/03/20/trip-report-san-diego/tiger.jpg
      secure_url: https://www.dana.lol/2018/03/20/trip-report-san-diego/tiger.jpg
      alt: A tiger at the San Diego Zoo
      width: 1200
      height: 630

---

<%= mn("
Weeks in: **5**<br>
Distance traveled: **~1200 miles**<br>
Current location: **[unfilled.gust.benched](http://w3w.co/unfilled.gust.benched)***<a href='https://what3words.com/about' class='no-underline'>[?]</a>*")
%>

I honestly didn't intend on staying long in San Diego.
My original plan had Los Angeles being the furthest point South that I would go, but there was a concert I wanted to see and when some close family friends offered to host me, I knew what I had to do.
I set course for San Diego, and ended up staying in one place for the longest period yet... 10 days!

It wasn't the weather that made me stay.
In fact, it was raining when I arrived, and it stayed uncharacteristically rainy for the first half of my visit.
Instead, it was the lovely home that I got to stay in, and the wonderful family I got to be a part of for almost two weeks.
I got to hang out with my friend, his wife, their two beautiful daughters (ages 4 and 7), and their incredible golden retrievers.
<%= mn(linked_image("#{current_article.url}captain-at-pool.jpg", 'Captain the dog near a pool')) %>

<%= f "#{current_article.url}coach-in-blanket.JPG", 'Coach the dog cozy in a blanket' %>

The girls loved using my van as a clubhouse, and I set up my hammocks in their lawn for them to play on.
During the day everyone went off to school and work. 
I spent this time sitting by a placid pool, soaking up sun and reliable Internet, with the dogs to keep me company.
<%= mn(linked_image("#{current_article.url}coach-at-door.JPG", 'Coach the dog greeting me at the door')) %>

And honestly, that's how I spent most of my days... recharging my batteries, staying still, taking daily showers, and spending time with my surrogate family.
I mean, how could you resist these wonderful puppies?

<%= f "#{current_article.url}captain-in-lawn.jpg", 'Captain the dog standing in a lawn' %>

Of course, I did do other stuff too!
I went for walks around a nearby golf course and many beaches, I went sea kayaking with a friend in La Jolla...

<%# TODO: this is messy, but I couldn't get a link to work %>
<figure><a href="/2018/03/20/trip-report-san-diego/la-jolla-kayaking.JPG" class="no-underline"><img src="/2018/03/20/trip-report-san-diego/la-jolla-kayaking.JPG" alt="Kayaks on the beach at La Jolla"></a>📸 by <a href='https://www.instagram.com/mndhm'>@mndhm</a></figure>

...and of course, I ate astoundingly delicious Mexican food.

<%= f "#{current_article.url}get-these-chips.JPG", 'Dana wearing a hat that says "get these chips away from me" with some chips' %>


But the thing I documented the best was the [San Diego Zoo](https://en.wikipedia.org/wiki/San_Diego_Zoo), and the sister *Safari Park*.
These are world-class zoos that by themselves are worth a trip down to San Diego.
I spent two days there (one at the Zoo and one at the Safari Park), and took countless pictures, the best of which I've included below.

<%= ff "#{current_article.url}butterfly-2.jpg", 'a butterfly' %>
<%= ff "#{current_article.url}funny-crocodiles.jpg", 'funny looking crocodiles' %>
<%= f "#{current_article.url}elephant.jpg", 'an elephant' %>
<%= ff "#{current_article.url}flamingos.jpg", 'many flamingos' %>
<%= f "#{current_article.url}polar-bear-in-shade.jpg", 'a polar bear napping in shade' %>
<%= f "#{current_article.url}funny-monkey.jpg", 'a funny looking monkey' %>
<%= ff "#{current_article.url}butterfly-blue.jpg", 'a blue butterfly' %>
<%= ff "#{current_article.url}hippos-surfacing-2.jpg", 'hippos' %>
<%= f "#{current_article.url}lions-sleeping.jpg", 'lions sleeping' %>
<%= ff "#{current_article.url}crocodile.jpg", 'a crocodile' %>
<%= ff "#{current_article.url}polar-bear-closeup.jpg", 'polar bear sleeping' %>
<%= f "#{current_article.url}monkeys.jpg", 'some monkeys' %>
<%= ff "#{current_article.url}pig.jpg", 'some pigs' %>
<%= f "#{current_article.url}orangutans.jpg", 'some orangutans' %>
<%= f "#{current_article.url}polar-bear-butt.jpg", 'a polar bear butt' %>
<%= ff "#{current_article.url}butterfly-brown.jpg", 'a brown butterfly' %>
<%= f "#{current_article.url}tiger-tail.jpg", 'the tail of a tiger poking out over a rock' %>
<%= ff "#{current_article.url}polar-bears-sleeping.jpg", 'sleeping polar bears' %>
<%= ff "#{current_article.url}hippo.jpg", 'a hippo' %>
<%= f "#{current_article.url}lion-in-cage.jpg", 'a lion in a cage' %>
<%= ff "#{current_article.url}rhino.jpg", 'a rhino' %>
<%= f "#{current_article.url}butterfly-green.jpg", 'a green butterfly' %>
<%= ff "#{current_article.url}scared-monkey.jpg", 'a scared-looking monkey' %>
<%= ff "#{current_article.url}sleepy-gorilla.jpg", 'a sleepy gorilla' %>
<%= f "#{current_article.url}sleepy-lemurs.jpg", 'some lazy lemurs' %>
<%= ff "#{current_article.url}tiger.jpg", 'a tiger' %>
<%= ff "#{current_article.url}safari-park-pano.JPG", 'The San Diego Safari Park' %>

As always, thank you for visiting and looking at my pictures.
Come visit [my Facebook page](https://www.facebook.com/www.dana.lol/) and let me know which pictures were your favorites!

<%# TODO: this is messy, but I couldn't get a link to work %>
<figure><a href="/2018/03/20/trip-report-san-diego/salk-distant-me.JPG" class="no-underline"><img src="/2018/03/20/trip-report-san-diego/salk-distant-me.JPG" alt="Dana at the Salk Institute"></a>📸 by <a href='https://www.instagram.com/mndhm'>@mndhm</a></figure>

