---

title: Buy Packs with Amazon Coins on a Mac
private: true
date: 2018-07-21 00:00 UTC
tags: 

ogp:
  og:
    description: A step-by-step guide for Mac users.
    image:
      '': https://www..dana.lol/2018/07/21/buy-packs-with-amazon-coins-on-a-mac/coin.jpg
      secure_url: https://www..dana.lol/2018/07/21/buy-packs-with-amazon-coins-on-a-mac/coin.jpg
      alt: a picture of an Amazon Coin (this is copyright Amazon)
      width: 250
      height: 250
---

<%= epigraph "This article is intended to help people save money on a video game called Hearthstone.
If this isn't relevant to you, you can skip this one." %>

Don't have an Android, but want to save money in Hearthstone using [Amazon Coins](http://www.amazon.com/dp/B0096E8DSM/?tag=danalol-20)?
Keep reading, or [click here](#guide) to jump to the step-by-step guide.

<br>

### About Amazon Coins

<%= marginnote(
  link_to(tag(:img, src: "#{current_article.url}coin.jpg", alt: 'a picture of an Amazon Coin (this is copyright Amazon)'), 'http://www.amazon.com/dp/B0096E8DSM/?tag=danalol-20', class: 'no-underline')
) %>

Hearthstone is a great game but it can be very expensive.
Luckily there is a way to save money on packs using something called [Amazon Coins](http://www.amazon.com/dp/B0096E8DSM/?tag=danalol-20).
You buy these coins on Amazon for a discount, and use them in Hearthstone when you pay for packs.

A coin is roughly equivalent to $0.01 USD.
The more coins you buy (up to $500 worth) gives you a bigger discount.
In the past I have bought 10,000 at a time and used it to pay for two expansion preorders.

The biggest catch is you need an Android device to buy anything with the coins.
The following guide is intended for users who don't have an Android device, but do have access to a Mac.

<br>

### <a name='guide'>Step-by-Step Guide</a>

First you must download/install [Bluestacks](https://www.bluestacks.com/download.html#download), an Android emulator for Macs.

If asked things during the install process, you can use the default settings.
You will have to add a security exception for Bluestacks, as it requires a kernel extension.
If the install fails for this reason, go to System Preferences → Security and Privacy → General, and click "Allow".

<%= nolink_figure "#{current_article.url}system-preferences.jpg", 'a screenshot of Mac System Preferences' %>

Open up Bluestacks and go through the initial setup wizard, logging in with your Google account.
When it's up and running, go to "My Apps" and open the Browser app which looks like this:

<%= nolink_figure "#{current_article.url}browser.jpg", 'the icon of the Bluestacks browser app' %>

In the browser, search Google for "Amazon Appstore for Android" and download the installer.
A small download icon will appear in the top left corner of Bluestacks.
Click on it and drag downward until you see this:

<%= nolink_figure "#{current_article.url}amazon-apk.jpg", 'the way to open the Amazon Appstore App APK' %>￼

Now open the Amazon APK file and install the Amazon Appstore app.
Open the Amazon Appstore and log in to your Amazon account.
When that's done, search for Hearthstone in the Amazon Appstore and install it.

Once Hearthstone is installed, open it and log in with your Blizzard account.
Open the Store and select the item you want to purchase.

At the payment screen, you will get a new prompt, asking you to once again log in to your Amazon account.

<%= nolink_figure "#{current_article.url}hearthstone-payment-screen.jpg", 'the Amazon Coins payment screen' %>￼

Log in and complete the purchase.
Congrats, you have now bought Hearthstone packs at a discount!

Now [buy some coins](http://www.amazon.com/dp/B0096E8DSM/?tag=danalol-20) and start saving money!

