---

title: 'Trip Report: Big Sur'
date: 2018-02-21
tags: van, california
location: maple.sports.cross
ogp:
  og:
    description: Summary and pictures from my first full week living in the van.
    image:
      '': https://www.dana.lol/2018/02/21/trip-report-big-sur/van-on-1.jpg
      secure_url: https://www.dana.lol/2018/02/21/trip-report-big-sur/van-on-1.jpg
      alt: The van in front of a seascape
      width: 1200
      height: 630

---

<%= partial 'van_stats', locals: {
  weeks: "just over 1",
  distance: "~400 miles",
  location: "maple.sports.cross" }
%>

The first week is behind me, and I have returned to the land of reliable Internet and power.

<%= f "#{current_article.url}limekiln-sunset.jpg", 'Sunset at Limekiln State Park, with a wave crashing on a rock' %>

I have so much to share with you, so I've broken it down into sections so you can skip to the things that interest you the most:

* [Overview](#overview)
* [Places Slept](#places-slept)
* [Mental Condition](#mental-condition)
* [Physical Condition](#physical-condition)
* [Meals](#meals)
* [Leisure Time](#leisure-time)
* [More Photos](#photos)

Also if you're reading this on mobile, make sure to tap the "⊕" icons when you see them!

### <a name='overview'>Overview</a>

After spending [the first night of my van adventure](https://www.dana.lol/2018/02/14/and-we-re-off/) in Santa Cruz, I drove down Highway 1 to spend my first week in [Big Sur](https://en.wikipedia.org/wiki/Big_Sur).
Big Sur is a dramatic meeting of land and sea... a place where you can find stirring beaches, rugged mountains, serene redwood grottos, and steep rocky islets, all within view of one another.
It is a magical place that has been left largely unmolested by humankind, and it was a spectacular way to start a trip across America.

<%= f "#{current_article.url}limekiln-layover.jpg", 'A van parked in a turnout on Highway 1' %>
<%= mn(linked_image("#{current_article.url}highway-one.jpg", 'A view of Highway 1 from my car') + "A typical view on Highway 1") %>

Driving down Highway 1 alone is worth the trip, but my main destinations were [Pfeiffer Big Sur State Park](https://en.wikipedia.org/wiki/Pfeiffer_Big_Sur_State_Park) and [Limekiln State Park](https://en.wikipedia.org/wiki/Limekiln_State_Park), at which I had secured camping reservations months before.
I had three nights reserved at each, and I didn't really know what to expect.
What I got was two very different camping experiences, an involuntary break from the comforts of technology, and a whole lot of alone time.


### <a name='places-slept'>Places Slept</a>

<%= epigraph("...sequoias, kings of their race, growing close together like grass in a meadow, poised their brave domes and spires in the sky three hundred feet above the ferns and the lilies that enameled the ground; towering serene through the long centuries, preaching God's forestry fresh from heaven.", 'John Muir, 1897') %>

**Pfeiffer Big Sur State Park** is a beautiful park situated on the Big Sur River. It's the largest in the area, and features over 100 campsites, plus a few trails, an outdoor ampitheatre, a restaurant, and more. It is not, by any means, backcountry camping... it'd be a great place to take your family on a road trip, or bring your Cub Scout troop for a weekend. 

When I made my reservations months ago, my research told me that the best spots were the ones on the river.
<%= mn(linked_image("#{current_article.url}limekiln-campsite.jpg", 'A campsite at Limekiln') + "My campsite at Limekiln and home for 4 days") %>
I picked, somewhat arbitrarily, river campsite *#179*, and it was very pleasant.
Two trees near the picnic table were perfect for my hammock, and the constant trickle of the river going by reminded me that I was, indeed, in the woods.
Unfortunately a road on the other side of the river meant occasional cars driving by looking for their own campsites, which knocked me out of the sense of remoteness, especially after dark when their headlights would pierce through the trees.

I can't imagine what this park would feel like on a busy summer weekend; the campsites are nestled in very close to one another, and when at capacity it would be difficult to have a sense of privacy.
Were I to stay again, I would opt for sites *#171* or *#174*, which had unusually spacious areas between the campsite and the river to explore and settle down in.

**Limekiln State Park**, on the other hand, is something else entirely.
<%= mn(linked_image("#{current_article.url}limekiln-entrance.jpg", 'The entrance to Limekiln State Park') + "Can you spot my van?") %>
When I first arrived I could tell from the tone of the ranger checking me in that I was in for a treat.
My campsite, Ocean View *#1*, was the highest point on the ocean side of the park, with lots of privacy and its own unique view.
I pulled up the dirt road and executed a smooth 15-point turn to have my back windows to the sea, and then I opened every curtain.
It was the perfect campsite, and I had it for three more nights.

<%= f "#{current_article.url}limekiln-campsite-view.JPG", 'The view from a campsite in Limekiln State Park' %>

The back half of Limekiln has hiking trails and more campsites situated alongside a peaceful creek.
If I come back, I'll definitely shoot for the ocean view campsite I had on this visit, but there were a couple campsites in the back that looked appealing.
Campsite *#22* had an awesome view of the intersection of two forest creeks, and I imagine falling asleep to the trickle would be very nice.
For more privacy, site *#29* was tucked against a rock face and had its own "private" trails behind it (leading to the power and water infrastructure buildings for the campground).
That one seemed like a nice place to stay because it's also right in the middle of the campground, so you'd be close to everything.

### <a name='mental-condition'>Mental Condition</a>

The biggest challenge, at least at first, was the complete lack of cellphone reception.
When I was living in SF my phone was an extension of my body, and the number of ways it factored into my personal routines were countless.
*Bored? Phone. Bathroom? Phone. Question? Phone. Lonely? Phone.*
My habits all leaned on the Internet in some way, and I quickly had to adapt to a life without it.
<%= mn(linked_image("#{current_article.url}pfeiffer-beach-hole.jpg", 'A hole in a rock at Pfeiffer Beach') + "Pfeiffer Beach") %>

It would be difficult to describe my emotional state during this first week... I think I will need more context to truly understand it.
What I can tell you is that in our modern lives we are given very little training in how to cope with changes this big.
I was able to prepare for a lot of things -- I have a first aid kit, a AAA membership, a shop manual for the van, etc. -- but I now know there isn't any way I could have prepared myself for the barrage of emotions that swept over me in the first few days of my new life.
I felt nearly every emotion, oftentimes *all at the same time*.
Hardest though was feeling downhearted about leaving my home of nearly 5 years, and leaving behind the relationships that I had so carefully nurtured.
When I felt I needed comfort, I had to come to terms with the fact that I no longer had a "home" to go back to, and that my friends couldn't be there with me.

My spirits were kept aloft, however, by complete lack of responsibility.
No work emails to look at, no rent check to have to cover, no calendar events to attend.
As the reality of this sunk in (and it did take several days), I was able to find peace.
I was surprised with how much free time I had when I had nothing to stress about.

<%= f "#{current_article.url}me-at-mcway-falls.jpg", 'Me in front of Big Sur coastline near McWay Falls' %>


### <a name='physical-condition'>Physical Condition</a>

Physically, I'm doing quite well.
I have a lot more nicks and scratches than normal... between moving and camping, I had small cuts on half my fingers just a couple days in.
I got a few bruises and one pretty big welt on my forehead from when I walked into a cupboard door I forgot to close.
My dust allergy isn't bothering me because I am spending almost all of my time outside.
I've been using more sunscreen than I usually would, and every time I see poison oak I avoid it like the plague; I can't even imagine how quickly it would get over *everything* if I were to carry it into the van.
<%= mn(linked_image("#{current_article.url}waterfall-over-log.jpg", 'Water falling over a log')) %>

My hygiene is doing well too, I think!
I don't think I smell bad yet, but I also don't think anyone would tell me if I did.
I brought more clothes than I probably need, so I'm able to change clothes daily.
Not being able to wash my hair every couple days has taken a toll... my scalp goes through bouts of furious itching.
In fact, every part of my body has probably itched at some point in the last week, I think I'm just going to have to get used to it.
At Limekiln I was able to take my first shower in 6 days, and it was refreshing even though it cost me 9 quarters and cut off after exactly 6 minutes.


### <a name='meals'>Meals</a>

This trip carried with it the challenge of not quite knowing how long I could keep my fridge cold, so I ate mainly non-perishable foods.
<%= mn(linked_image("#{current_article.url}limekiln-fairyland.jpg", 'One of the many gorgeous redwood grottos in Big Sur')) %>

My meals included:

 * Black beans and rice with fresh farm-stand avocado (5 for $1!)
 * Strawberries, raspberries, and Samoas Girl Scout Cookies
 * Berries and greek yogurt
 * Cheese, salami, hummus, and crackers
 * Chocolate [Soylent](http://amzn.to/2CAci9w)

In the next few months I would like to learn more van-friendly recipes, especially ones that use only a single pot.


### <a name='leisure-time'>Leisure Time</a>

For this trip, this section might as well be called "*Hikes,*" but before I get into that I'll go over some of the things I did to keep myself busy.
I wrote in a journal, I lounged in my hammock, I scanned for ham radio chatter, I read a great deal of a book, I organized my van, I watched downloaded TV on my laptop, I went over photos, I worked on this blog article, I planned my next days... am I missing anything?

*Oh yeah: naps!*
I took a lot of top quality, there-is-actually-nothing-more-important-to-do-right-now-than-nap naps.
Who said being unemployed and homeless was a bad thing?

As for hikes, I went hiking almost every day.
Pfeiffer Big Sur had two trails that were pretty easy and ended in nice views.
<%= mn(linked_image("#{current_article.url}valley-view.jpg", 'The view from Valley View Trail') + "The view from Valley View") %>
The first was **Valley View Trail**, which snaked its way along a ridge and ended in a nice view all the way down a V-shaped valley, all the way to the ocean.
The second was **Buzzard's Roost Trail**, which was quite a bit longer and more challenging.
I started pretty late in the day that day, so by the time I reached the summit the sun was starting to set.
I didn't expect the view I got from the top... a gorgeous panorama from the mountains to the sea, and the ocean was nearly unrecognizable because the light reflecting off of it made it appear like it was made of pearl.
<%= mn(linked_image("#{current_article.url}buzzards-roost.jpg", "The view from Buzzard's Roost Trail") + "The view from Buzzard's Roost") %>

Limekiln on the other hand, had some of the best hikes I have ever seen.
Deep in the woods behind the beach there are four trails that all have unique and interesting destinations.
They are all gorgeous... I got to follow streams, climb up waterfalls, explore ruins, and discover unexpected vistas.

The **Lime Kiln Trail** goes to four gigantic metal lime kilns which were used at the turn of the 20th century to process lime for use in cement in SF and Monterey.
The **Limekiln Falls Trail** follows a stream deep into the forest, ending at a 100-foot tall waterfall.
The **Hare Creek Trail** follows a pleasant creek and has numerous small waterfalls.
The coolest, I think, was a new, as-yet-unnamed trail that I discovered because I simply had nothing better to do.
It creeps around a nearby mountain and pokes head out of the woods at opportune moments to give you breathtaking views of the Pacific as it rolls away from you into the horizon, dotted with rocky islets.



### <a name='photos'>More Photos</a>

You can click into any of these images to get super high resolution versions.

<%= ff "#{current_article.url}limekiln-vista-pano.jpg", 'A vista on the unnamed Limekiln trail' %>
<%= ff "#{current_article.url}pfeiffer-beach-pano.jpg", 'Pfeiffer Beach' %>
<%= ff "#{current_article.url}limekiln-pano-2.JPG", 'A view of the beach section of Limekiln' %>
<%= ff "#{current_article.url}partington-cove-pano.jpg", 'A secret cove a local told me about' %>
<%= f "#{current_article.url}big-sur-coastline.jpg", 'Big Sur coastline' %>
<%= f "#{current_article.url}mcway-falls.JPG", 'McWay Falls at dawn' %>
<%= f "#{current_article.url}bixby-bridge.jpg", 'The iconic Bixby Bridge' %>
<%= f "#{current_article.url}van-on-1.jpg", 'My van on Highway 1' %>

Thank you for reading this and looking at my pictures!
If you'd like to interact with me or just stay current with my updates, don't forget to [follow my Facebook page](https://www.facebook.com/www.dana.lol/).

