---

title: 'Trip Report: Big Sur'
date: 2018-02-21
tags: van, california
location: maple.sports.cross
published: false
ogp:
  og:
    description: A summary of the first week on the road.
    image:
      '': https://www.dana.lol/2017/11/27/thanksgiving-in-santa-barbara/mountains.jpg
      secure_url: https://www.dana.lol/2017/11/27/thanksgiving-in-santa-barbara/mountains.jpg
      alt: The van in front of a mountainscape
      width: 1200
      height: 630

---

<%= mn("
Weeks in: just over 1<br>
Distance travelled: **#{lorem.word}**<br>
Current location: **[maple.sports.cross](http://w3w.co/maple.sports.cross)**")
%>

The first week is behind me, and I have returned to the land of reliable Internet and power.
I have so much to share with you, so I've broken it down into sections so you can skip to the things that interest you the most:

* [Overview](#overview)
* [Places Slept](#places-slept)
* [Mental & Physical Condition](#mental-physical-condition)
* [Meals](#meals)
* [Leisure Time](#leisure-time)
* [Unique Experiences](#unique-experiences)

### <a name='overview'>Overview</a>

After spending [the first night of my van adventure](https://www.dana.lol/2018/02/14/and-we-re-off/) in Santa Cruz, I drove down Highway 1 to spend my first week in [Big Sur](https://en.wikipedia.org/wiki/Big_Sur).<%= mn(linked_image("#{current_article.url}bixby-bridge.jpg", '')) %>
Big Sur is a dramatic meeting of land and sea... a place where you can find stirring beaches, rugged mountains, serene redwood grottos, and steep rocky islets, all within view of one another.
It is a magical place that has been left largely unmolested by humankind, and it was a spectacular way to start a trip across America.

<%= f "#{current_article.url}limekiln-layover.jpg", '' %>

Driving down Highway 1 alone is worth the trip, but my main destinations were [Pfieffer Big Sur State Park](https://en.wikipedia.org/wiki/Pfeiffer_Big_Sur_State_Park) and [Limekiln State Park](https://en.wikipedia.org/wiki/Limekiln_State_Park), at which I had secured camping reservations months before.
I had three nights reserved at each, and I didn't really know what to expect.
What I got was two very different camping experiences, an involuntary break from the comforts of technology, and a whole lot of alone time.


### <a name='places-slept'>Places Slept</a>

<%= epigraph("...sequoias#{mn(linked_image("#{current_article.url}waterfall-over-log.jpg", ''))}, kings of their race, growling close together like grass in a meadow, poised their brave domes and spires in the sky three hundred feet above the ferns and the lilies that enameled the ground; towering serene through the long centuries, preaching God's forestry fresh from heaven.", 'John Muir, 1897') %>

**Pfeiffer Big Sur State Park** is a beautiful park situated on the Big Sur River. It's the largest in the area, and features over 100 campsites, plus a few trails, an outdoor ampitheatre, a restaurant, and more. It is not, by any means, backcountry camping... it'd be a great place to take your family on a road trip, or bring your Cub Scout troup for a weekend. 

When I made my reservations months ago, my research told me that the best spots were the ones on the river. I picked, somewhat arbitrarilly, river campsite #179, and it was very pleasant. Two trees near the picnic table were perfect for my hammock, and the constant trickle of the river going by reminded me that I was, indeed, in the woods. Unfortunately a road on the other side of the river meant occasional cars driving by looking for their own campsites, which knocked me out of the sense of remoteness, especially after dark when their headlights would pierce through the trees. I can't imagine what this park would feel like on a busy summer weekend, because the campsites are nestled in very close to one another, and when at capacity it would be difficult to have a sense of privacy. Were I to stay again, I would opt for sites #171 or #174, which had unusually spacious areas between the campsite and the river to explore and settle down in.

**Limekiln State Park**, on the other hand, is a real gem.


### <a name='mental-physical-condition'>Mental & Physical Condition</a>

The biggest challenge, at least at first, was the complete lack of cellphone reception.
When I was living in SF my phone was an extension of my body, and the number of ways it factored into my personal routines were countless.
*Bored? Phone. Bathroom? Phone. Question? Phone. Lonely? Phone.*
My habits all leaned on the Internet in some way, and I quickly had to adapt to a life without it.

It would be difficult to describe my emotional state during this first week... I think I will need more context to truly understand it.
What I can tell you is that in our modern lives we are given very little training in how to cope with changes this big.
I was able to prepare for a lot of things -- I have a first aid kit, a AAA membership, a shop manual for the van, etc. -- but I now know there isn't any way I could have prepared myself for the barrage of emotions that swept over me in the first few days of my new life.
I felt nearly every emotion, oftentimes *all at the same time*.
Hardest though was feeling downhearted about leaving my home of nearly 5 years, and leaving behind the relationships that I had so carefully nurtured.
When I felt I needed comfort, I had to come to terms with the fact that I no longer had a "home" to go back to, and that my friends couldn't be there with me.



### <a name='meals'>Meals</a>

<%= mn(linked_image("#{current_article.url}red-headlamp.jpg", '')) %>
This trip carried with it the challenge of not quite knowing how long I could keep my fridge cold, so I ate mainly non-perishable foods.

My meals included:

 * black beans and rice with fresh farmstand avocado <%= mn "5 for $1!" %>
 * strawberries, raspberries, and Samoas Girl Scout Cookies
 * berries and greek yogurt
 * cheese, salami, hummus, and crackers
 * chocolate [Soylent](http://amzn.to/2CAci9w)

In the next few months I would like to learn more van-friendly recipes, especially ones that use only a single pot.


### <a name='leisure-time'>Leisure Time</a>

For this trip, this section might as well be called "**Hikes**", but before I get into that I'll go over some of the things I did to keep myself busy.
I wrote in a journal, I lounged in my hammock, I scanned ham radio chatter, I read a great deal of a book, I organized my van, I watched downloaded TV on my laptop, I went over photos, I worked on this blog article, I planned my next days... am I missing anything?
*Oh yeah: naps!*
I took a lot of top quality, there-is-actually-nothing-more-important-to-do-right-now-than-nap naps.
Who said being unemployed and homeless was a bad thing?

<%= f "#{current_article.url}pfieffer-beach-hole.JPG", '' %>

As for hikes...


### <a name='unique-experiences'>Unique Experiences</a>

<%= lorem.paragraph %>
<%= f "#{current_article.url}me-at-mcway-falls.jpg", '' %>



### <a name='photos'>Photos</a>


<%# <%= f "#{current_article.url}IMG_2704.JPG", '' %1> %>
<%= f "#{current_article.url}IMG_9591.JPG", '' %>
<%= f "#{current_article.url}buzzards-roost.jpg", '' %>
<%= f "#{current_article.url}cool-log-tall.jpg", '' %>
<%= f "#{current_article.url}cool-log.jpg", '' %>
<%# <%= ff "#{current_article.url}glitched-pano.JPG", '' %1> %>
<%= f "#{current_article.url}highway-one.jpg", '' %>
<%= f "#{current_article.url}limekiln-campchair.jpg", '' %>
<%= f "#{current_article.url}limekiln-campsite-view.JPG", '' %>
<%= f "#{current_article.url}limekiln-campsite.jpg", '' %>
<%= ff "#{current_article.url}limekiln-entrance-pano.JPG", '' %>
<%= f "#{current_article.url}limekiln-entrance.jpg", '' %>
<%= f "#{current_article.url}limekiln-falls.JPG", '' %>
<%= ff "#{current_article.url}limekiln-pano-2.JPG", '' %>
<%= f "#{current_article.url}mcway-falls-without-me.JPG", '' %>
<%= f "#{current_article.url}mcway-falls.JPG", '' %>
<%= ff "#{current_article.url}pfieffer-beach-pano.JPG", '' %>
<%= mn(linked_image("#{current_article.url}valley-view.jpg", '')) %>
<%= f "#{current_article.url}van-at-limekiln.jpg", '' %>

