---

title: "Trip Report: Los Angeles"
date: 2018-03-13 19:09 UTC
tags: van, california
location: TODO
ogp:
  og:
    description: A summary of my time in Los Angeles.
    image:
      '': https://www.dana.lol/2018/03/13/trip-report-los-angeles/venice-van.JPG
      secure_url: https://www.dana.lol/2018/03/13/trip-report-los-angeles/venice-van.JPG
      alt: The van parked on a street in Venice, CA
      width: 1200
      height: 630 

---

<%= mn("
Weeks in: **TODO**<br>
Distance traveled: **TODO**<br>
Current location: **[pipe.bumpy.taxi](http://w3w.co/pipe.bumpy.taxi)***<a href='https://what3words.com/about' class='no-underline'>[?]</a>*")
%>

After leaving [Santa Barbara last week](/2018/03/05/trip-report-central-coast/), I drove straight down to Los Angeles.
I'll admit I was a little nervous... just weeks before I arrived, [LA passed a law banning living in your car](http://www.latimes.com/local/lanow/la-me-ln-homeless-rv-dwelling-20170113-story.html).
Had this famously van-friendly city turned a corner?

### Venice Beach

I arrived in _Venice_ on a sunny afternoon.
A friend had told me a street that I should stay on, one that was friendly to RVs.
When I got there, the street was plastered with signs that told me vehicles over 7" tall would not be allowed between 2am-6pm.
Not wishing to be woken up in the middle of the night, I got out a tape measure and confirmed I was indeed too tall.
I parked there anyway and went for a walk to the beach.
<%= mn(linked_image("#{current_article.url}me-at-sunset.JPG", '')) %>

<%= f "#{current_article.url}venice-beach-pier.JPG", '' %>

I've been looking forward to bumming around Venice Beach ever since I first visited several years ago.
The wide inviting beach, the laid back culture, the always-sunny weather, the sunsets, the iconic pier and boardwalk, it's magnetic for a van-dwelling vagrant like myself.
At sundown I walked to the end of the pier and joined the small group of people in watching the sun dip into the ocean.

<%= f "#{current_article.url}venice-beach-sky.JPG", '' %>
<%= ff "#{current_article.url}venice-boardwalk-pano.JPG", '' %>

On my walk back to my parking spot I found a neighborhood without the height limit signs and moved my van there.
That area would become my home base for the next several nights.
I met a few people who lived in that area and they were all very welcoming to me (and out of respect for them I wont share exactly where I was).


<%= ff "#{current_article.url}venice-sunset-pano.JPG", '' %>

<%= lorem.paragraph %>

<%= lorem.paragraph %>
<%= lorem.paragraph %>
<%= lorem.paragraph %>

<%# <%= f "#{current_article.url}venice-van.JPG", '' %1> %>
<%# <%= f "#{current_article.url}getty-center.JPG", '' %1> %>
<%= ff "#{current_article.url}getty-pano.JPG", '' %>
<%= f "#{current_article.url}getty-statue.JPG", '' %>
<%= f "#{current_article.url}getty-sunset.JPG", '' %>
<%= f "#{current_article.url}museum-of-death.JPG", '' %>
<%= f "#{current_article.url}silver-lake-van.JPG", '' %>
<%= f "#{current_article.url}hollywood-sign-behind.JPG", '' %>
<%= ff "#{current_article.url}hollywood-sign-pano.JPG", '' %>
<%= f "#{current_article.url}hollywood-sign-with-me.JPG", '' %>
<%= f "#{current_article.url}hollywood-sign.JPG", '' %>
<%= ff "#{current_article.url}endeavor-pano.JPG", '' %>
