---

title: "Trip Report: Yosemite"
published: false
date: 2018-04-06
tags: van, california
location: wedge.buck.chops
ogp:
  og:
    description: TODO
    image:
      '': https://www.dana.lol/TODO
      secure_url: https://www.dana.lol/TODO
      alt: TODO
      width: 1200
      height: 630

---

<%= mn("
Weeks in: **TODO**<br>
Distance traveled: **~TODO miles**<br>
Current location: **[wedge.buck.chops](http://w3w.co/wedge.buck.chops)***<a href='https://what3words.com/about' class='no-underline'>[?]</a>*")
%>

<%= lorem.paragraph %>
<%= lorem.paragraph %>

https://www.nps.gov/yose/planyourvisit/vernalnevadatrail.htm

<%= lorem.paragraph %>

### Potential YouTube vids
* birds-on-beach-2.MOV
* birds-on-beach.MOV
* vernal-fall.MOV
* nevada-fall.MOV

<%= lorem.paragraph %>
<%= lorem.paragraph %>

### Unsorted Photos
<%= f "#{current_article.url}bridalveil-fall.jpg", '' %>
<%= f "#{current_article.url}distant-fall.jpg", '' %>
<%= f "#{current_article.url}fall-2.jpg", '' %>
<%= f "#{current_article.url}fall-3.jpg", '' %>
<%= f "#{current_article.url}fall.jpg", '' %>
<%= f "#{current_article.url}flat-side-of-half-dome-pano.jpg", '' %>
<%= f "#{current_article.url}friends-on-beach-2.jpg", '' %>
<%= f "#{current_article.url}friends-on-beach.jpg", '' %>
<%= f "#{current_article.url}half-dome-2.jpg", '' %>
<%= f "#{current_article.url}half-dome-3.jpg", '' %>
<%= f "#{current_article.url}half-dome-closer.jpg", '' %>
<%= f "#{current_article.url}half-dome-wide.jpg", '' %>
<%= f "#{current_article.url}half-dome.jpg", '' %>
<%= f "#{current_article.url}me-at-nevada-fall.jpg", '' %>
<%= f "#{current_article.url}me-at-venice-canals.jpg", '' %>
<%= f "#{current_article.url}mist-trail-view.jpg", '' %>
<%= f "#{current_article.url}muir-quote.jpg", '' %>
<%= f "#{current_article.url}nevada-fall-leading-river.jpg", '' %>
<%= f "#{current_article.url}nevada-fall-looking-down.jpg", '' %>
<%= f "#{current_article.url}nevada-fall-with-liberty-cap.jpg", '' %>
<%= f "#{current_article.url}nevada-fall.jpg", '' %>
<%= f "#{current_article.url}nevada-falls-pano.jpg", '' %>
<%= f "#{current_article.url}nevada-falls-trail-pano.jpg", '' %>
<%= f "#{current_article.url}parking-lot-bird.jpg", '' %>
<%= f "#{current_article.url}tunnel-view-wide.jpg", '' %>
<%= f "#{current_article.url}tunnel-view.jpg", '' %>
<%= f "#{current_article.url}upper-yosemite-falls-close.jpg", '' %>
<%= f "#{current_article.url}upper-yosemite-falls.jpg", '' %>
<%= f "#{current_article.url}valley-view-iphone.jpg", '' %>
<%= f "#{current_article.url}van-at-golden-gate-bridge.jpg", '' %>
<%= f "#{current_article.url}van-on-panhandle.jpg", '' %>
<%= f "#{current_article.url}venice-canals.jpg", '' %>
<%= f "#{current_article.url}vernal-fall-from-above.jpg", '' %>
<%= f "#{current_article.url}vernal-falls-from-above-2.jpg", '' %>
<%= f "#{current_article.url}yosemite-valley.jpg", '' %>

Thank you for reading!
I really appreciate you taking the time out of your day to visit my site.
If you'd like to interact with me or just stay current with my updates, I'd love it if you'd [follow me on social media](https://www.facebook.com/www.dana.lol/).

