---
pageable: true
per_page: 10
ogp:
  og:
    description: Plug into my mind.
---
<% page_articles.select{|a| a.data.pinned }.each_with_index do |article, i| %>
  <h2><em>Pinned:</em> <%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></h2>
  <%= summary(article) %>
  <br>
  <hr>
<% end %>
<% page_articles.reject{|a| a.data.unlisted || a.data.pinned }.each_with_index do |article, i| %>
  <h2><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></h2>
  <%= summary(article) %>
  <br>
  <hr>
<% end %>

<% if paginate && num_pages > 1 %>
  <h2><%= link_to('Newer Articles', prev_page) if prev_page %> <%= "&bull;" if prev_page && next_page %> <%= link_to('Older Articles', next_page) if next_page %></h2>
<% end %>

